
<strong>Current Date and Time : </strong>{{currentDateTime | date:'medium'}}
<div class="container">
<div class="jumbotron">
    <div class="panel panel-primary">
    <h1>Product Entry</h1>
    <label for="">Product Id
        <input type="text" [(ngModel)]="productId" disabled>
    </label>
    <br>
  <label for="">Product Name
        <input type="text" [(ngModel)]="productName">
    </label>
    <br>
    <label for="">Product Price
        <input type="text" [(ngModel)]="productPrice">
    </label>
    <br>
    <label for="">Product avilablity
        <input type="checkbox" [(ngModel)]="avilablity">
    </label>
    <br>
    <button class="btn btn-primary" (click)="save()" *ngIf="isSave">Save</button>
    <button class="btn btn-primary"(click)="update()" *ngIf="isUpdate">Update</button>
<div class="jumbotron"*ngIf="productsList.length !== 0">
    <app-product-details [productListDetails]="productsList" (now)="setCurrentDateTime($event)"></app-product-details>
</div>
