<div>
    <h2> Customer Entry</h2>
<br>
Customer Id:
<input type="text" [(ngModel)] = "customerId">
<br>
Customer Name:
<input type="text" [(ngModel)] = "customerName">
<br>
Customer PhoneNo:
<input type="text" [(ngModel)] ="customerPhoneNo">
<br>
Customer Address:
<input type="text" [(ngModel)]="customerAddress">
<br>
<button (click)="customerEntryDetailssave()"> Save </button>
</div>
<br>
<br> 
<div>
    <h2>CustomerEntryDetails</h2>
    <table>
        <thead>
            <th>Customer Id</th>
            <th>Customer Name</th>
            <th>Customer PhoneNo</th>
            <th>Customer Address</th>
        </thead>
        <tbody>
          <tr *ngFor="let customerEntryDetail of customerEntryDetails">
            <td>{{customerEntryDetail.customerId | customerNumber}}</td>
            <td>{{customerEntryDetail.customerName}}</td>
            <td>{{customerEntryDetail.customerPhoneNo | phoneNumber }}</td>
            <td>{{customerEntryDetail.customerAddress}}</td>
          </tr>
        </tbody>
      </table>
</div>
<br>
